
@font-face {
    font-family: 'Joti';
    src: url('fonts/JotiOne-Regular.ttf');
}

@font-face {
    font-family: 'jose';
    src: url('fonts/JosefinSans-Regular.ttf');
}

@font-face {
    font-family: 'jose-bold';
    src: url('fonts/JosefinSans-Bold.ttf');
}

* {
    margin: 0;
    padding: 0;
}

#background {
    background: url('../images/background.jpg');
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
.col2-page1 {
    padding-top:20px;
}

#time {
    font-family: 'jose-bold';
    color: cyan;
    font-size: 3vw;
}

#place {
    font-family: 'jose-bold';
    color: white;
    font-size: 1.4vw;
}

#wrapper {
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0.8;
}
.navbar {
    margin-bottom: 0;
}

.event-name .btn {
    width: 10vw;
    font-size: 1vw;
}

.event-container {
    height: 100%;
}

.col2-page1 {
    height: 100%;
}
.real-logo {
height:70%;
}
.empty {
    height:30%;
}
.event-name {
    height: 65%;
}

.countdown {
    height:35%;
}

.col2-page1 h1 {
    color: white;
    font-size: 3vw;
    font-family: 'Joti';
    line-height: 1.4;
}

#countdown #tiles {
    position: relative;
    z-index: 1;
}

#countdown {
    text-align: center;
}

#label {
    margin-top: 40px;
    color: white;
    font-family: 'jose'
}

#countdown .labels {
    width: 100%;
    height: 25px;
    text-align: center;

}

#countdown #tiles > span {
    width: 6vw;
    max-width: 6vw;
    max-height: 12vh;
    font: bold 3vw 'Droid Sans', Arial, sans-serif;
    text-align: center;
    color: #111;
    background-color: #ddd;
    background-image: -webkit-linear-gradient(top, #bbb, #eee);
    background-image: -moz-linear-gradient(top, #bbb, #eee);
    background-image: -ms-linear-gradient(top, #bbb, #eee);
    background-image: -o-linear-gradient(top, #bbb, #eee);
    border-top: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
    margin: 0 7px;
    display: inline-block;
}

#countdown .labels {
    width: 100%;
    height: 25px;
    text-align: center;
}

    #countdown .labels li {
        width: 5vw;
        max-width: 5vw;
        font: bold 15px 'Droid Sans', Arial, sans-serif;
        color: #f47321;
        text-shadow: 1px 1px 0px #000;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        display: inline-block;
    }

#event-comment {
    font-family: 'jose-bold';
    color: white;
    font-size: 1.4vw;
}

.event-logo img {
    margin:auto;
    width:80%;
}
